body {
	background-image: url('img/background.jpg');
	background-size: 100%;
	background-attachment: fixed;
	background-position: 0px -55px;
	font-family: 'Fjalla One', Arial, Helvetica;
	background-repeat: no-repeat;
}

header {
	border-bottom: solid 4px #ff3300;
	text-align: right;
	letter-spacing: 4px;
}

main {
	height: 700px;
}

.nav-link {
	font-size: 6em;
	color: #ff3300;
	text-decoration: none;
}

.section-header {
	font-size: 3.4em;
	color: #00B64F;
}

#container {
	width: 850px;
	margin: 0 auto;
	opacity: 0.9;
  filter: alpha(opacity=90); /* For IE8 and earlier */
  /*background-color: white;*/
}