body {
	background-image: url('img/background.jpg');
	background-size: 100%;
	background-attachment: fixed;
	background-position: 0px -55px;
	background-repeat: no-repeat;
	font-family: 'Fjalla One', Arial, Helvetica;
}

header {
	border-bottom: solid 4px #ff3300;
	text-align: right;
	letter-spacing: 4px;
}

main {
	min-height: 700px;
	max-width: 850px;
	background: black;
	opacity: 0.7;
  filter: alpha(opacity=70); /* For IE8 and earlier */
  padding: 7px;
  padding-left: 15px;
  display: block;
}

p {
	line-height: 1.5;
	letter-spacing: 1px;
}

.nav-link {
	font-size: 4.5em;
	color: #ff3300;
	text-decoration: none;
}

.section-header {
	font-size: 3.4em;
	color: #00B64F;
}

.body-content {
	color: white;
	opacity: 1;
  filter: alpha(opacity=100); /* For IE8 and earlier */
}

#container {
	width: 850px;
	margin: 0 auto;
}