body {
	background-image: url('img/background.jpg');
	background-size: 100%;
	background-attachment: absolute;
	background-position: 0px -55px;
	background-repeat: no-repeat;
	background-color: red;

	min-width: 850px;

	font-family: 'Fjalla One', Arial, Helvetica;
}

header {
	border-bottom: solid 4px #ff3300;
	text-align: right;
	letter-spacing: 4px;
}

main {
	min-height: 700px;
	max-width: 850px;
	min-width: 750px;
	background: rgb(0,0,0);
	background: rgba(0,0,0,0.5);
  padding: 7px;
  padding-left: 15px;
  display: block;
}

p {
	line-height: 1.5;
	letter-spacing: 1px;
}

.nav-link {
	font-size: 4.5em;
	color: #ff3300;
	text-decoration: none;
}

.section-header {
	font-size: 3.7em;
	color: #1F9BB2;
}

.body-content {
	color: white;
}

#container {
	width: 850px;
	margin: 0 auto;
}