html {
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	background-image: url('../img/background.jpg');
	background-position: 0px -55px;
	background-repeat: no-repeat;
}

body {
	font-family: 'Fjalla One', Arial, Helvetica;
}

header {
	border-bottom: solid 4px #ff3300;
	text-align: right;
	letter-spacing: 4px;
}

main {
	height: 700px;
	display: block;
}

.nav-link {
	font-size: 3.2em;
	color: #ff3300;
	text-decoration: none;
	margin-right: 13px;
}

.section-header {
	font-size: 3.4em;
	color: #00B64F;
}

.wrapper {
	margin: 0 auto;
	width: 850px;
}

#container {

	width: 100%;
}